body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
